* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Serif;
}
html, body {
  scroll-behavior: smooth;
}
html {
  scroll-snap-type: y proximity;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 159, 208, 0.9);
  border-radius: 10px;
}
.hero-content {
 margin-top: -60px;
}
/* HEADER */
.hero {
  height: 300px;
  background:#72d5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero h1{
  font-size: 42px;
  font-weight: 700;
}

.hero p {
  margin-top: 12px;
  font-size: 16px;
  opacity: 0.95;
}

.email a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: 0.3s;
}

.email a:hover {
  color: #000000;
}
.resume {
  display: inline-block;
  padding: 10px 22px;
  background: #72d5ff;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 25px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

/* Hover Effect */
.resume:hover {
  background: #ffffff;
  color: #72d5ff;
  border: 2px solid #72d5ff;
  transform: translateY(-3px);
}

/* Click Effect */
.resume:active {
  transform: scale(0.95);
}



/* SECTION */
.section {
  padding: 50px 80px ;
}

/* TITLE WITH LEFT LINE */
.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  position: relative;
  padding-left: 18px;
  color: #72d5ff;
}

/* CARD */
.card {
 background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 22px;
  box-shadow: 5px 8px 20px rgba(0,0,0,0.08);
  padding: 30px;
  margin-bottom: 30px;

  transition: all 0.3s ease;
}

.card p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}






/* Hover — SAME AS EXPERIENCE */




.edu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  width: 90%;
  margin: 5px auto;
  padding: 0;
}

/* Card */
.edu-card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.15);
   box-shadow: 5px 8px 20px rgba(0,0,0,0.08);
  padding: 25px;
  border-radius: 32px;
  transition: 0.3s ease;

  width: 90%;      /* full width inside container */
  box-sizing: border-box;
}

/* Hover */
.edu-card:hover {
  transform: translateY(-20px);
  box-shadow: 5px 8px 20px rgba(0,0,0,0.08);
}

/* Title & Year */
.edu-card h3 {
  font-size: 22px;
  margin-bottom: 6px;
}

.edu-year {
  color: #000000;
  font-size: 14px;
  margin-bottom: 6px;
}

.edu-college {
  color: rgb(48, 58, 58);
  margin-bottom: 10px;
  font-weight: 700;
}

.edu-cgpa {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin-top: 8px;
  background:#02ef65;
  padding: 5px 10px;
  border-radius: 25px;
   border: 2px solid #00ff2a;
  display: inline-block;
  letter-spacing: 0.4px;
}



/* ================= SERVICES ================= */
.services {
  padding: 140px 80px;
  margin-left:110px ;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  align-items: center;
}

.services-left h2 {
  font-size: 52px;
  line-height: 1.2;
}
.service-card p{
   text-align: justify;  
}
.services-center {
  position: relative;
  display: flex;
  justify-content: center;
}

.services-center img {
  width: 320px;
  z-index: 0;
}

.glow {
  position: absolute;
  width: 260px;
  height: 260px;
  background: radial-gradient(circle, #5dd4ff, transparent 70%);
  filter: blur(60px);
  z-index: 0;
}

.services-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service-card {
  padding: 30px;
  border-radius: 16px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(193,140,255,0.25);
}


img {
  max-width: 100%;
  height: auto;
}



/* ================= CAREER SECTION ================= */

.career {
  padding: 80px 10%;
  color: #ff8400;
}

.career-title {
  text-align: center;
  font-size: 56px;
  margin-bottom: 60px;
}

.career-title span {
  color: #000000;
}

/* Container */
.career-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

/* Card */
.career-card {
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 22px;
  box-shadow: 5px 8px 20px rgba(0,0,0,0.08);
  padding: 30px;
  margin-bottom: 30px;

  transition: all 0.3s ease;
}

/* Hover */
.career-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(178,107,255,0.35);
}

/* Header row */
.career-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.career-role {
  font-size: 22px;
  color: #000000;
  font-weight: 600;
}

.career-year {
  font-size: 14px;
  font-weight: 900;
   color: #ff8989;
}

/* Description */
.career-desc {
  color: #000000;
  line-height: 1.8;
  font-size: 15px;
}


/* ===== Projects Section ===== */

.projects-section {

  padding: 60px 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

/* Section Title */
.section-title {
  font-size: 32px;
  font-weight: 700;
  color: #1f3c68;
  margin-bottom: 40px;
  position: relative;
  padding-left: 18px;
}



/* Project Card */
.project-card {
  background: #f4f4f4;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

/* Project Heading */
.project-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #222;
}

/* Paragraph */
.project-card p {
  font-size: 16px;
  color: #444;
  line-height: 1.7;
}

/* Note Styling */
.note {
  margin-top: 10px;
}





.experience {
  padding: 120px 80px;
}

.exp-title {
  font-size: 56px;
  margin-bottom: 50px;
  text-align: center;
}

.exp-title span {
  color: #2052e8;
}

/* Container */
.exp-container {
  max-width: 900px;
  margin: auto;
}

/* Card */
.exp-card {
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 22px;
   box-shadow: 5px 8px 20px rgba(0,0,0,0.08);
  padding: 30px;
  margin-bottom: 30px;

  transition: all 0.3s ease;
}

/* Hover */
.exp-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(178,107,255,0.35);
}

/* Header row */
.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.exp-role {
  font-size: 22px;
  color: #0ecba8;
  font-weight: 600;
}

.exp-year {
  font-size: 14px;
  font-weight: 600;
   color: #ff7700;
}

/* Description */
.exp-desc {
  color: #000000;
  line-height: 1.8;
  font-size: 15px;
}



/* ================= HIGHLIGHTS SECTION ================= */

.highlights {
  padding: 100px 10%;
}

.highlight-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.highlight-card {
  text-align: center;
  padding: 30px 20px;
  background-color: #d5f2ff;
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.12);

  transition: all 0.3s ease;
}

.highlight-card i {
  font-size: 36px;
  margin-bottom: 12px;
  color: #a58806;
  transition: 0.3s;
}

.highlight-card h3 {
  margin-bottom: 8px;
  font-size: 20px;
}

.highlight-card p {
  color:black;
  font-size: 14px;
}

/* Hover */
.highlight-card:hover {
  transform: translateY(-6px);
   box-shadow: 0 0 25px rgba(178,107,255,0.35);
}

.highlight-card:hover i {
  transform: scale(1.1);
  color: #fff;
}

/* Parent snapping */





/* ================= STACK ================= */
.stack {
  padding: 120px 0px;
  margin: 20px;
}

.section-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
}


.stack-pyramid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}


.row {
  display: flex;
  gap: 10px;
  
}

.row div {
  min-width: 120px;
  padding: 18px 26px;
  border-radius: 14px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(193,140,255,0.25);
  transition: 0.3s;

  /* 👇 ADD THESE */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row div i {
  font-size: 22px;
  margin-bottom: -20px;
}
.row a {
  text-decoration: none;
  color: inherit;
}


.row div:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 18px rgba(193,140,255,0.5);
}

/* ================= FOOTER ================= */
.footer {
  color: #000000;
  padding: 120px 110px;
  position: relative;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 1fr;
  align-items: start;
}

/* LEFT */
.footer-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 450;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.footer-info span {
  color: #000000;
  font-size: 14px;
}


.footer-info p {
  margin: 6px 0 20px;
  font-size: 16px;
}

/* CENTER */
.footer-label {
  color: #000000;
  font-size: 14px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.social-links li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.social-links a {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #b26bff;
}

/* RIGHT */
.footer-right {
    margin-left: 10px;
}

.footer-info a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.footer-info a:hover {
  text-decoration: none;
  color: #b26bff;
}

.footer-right span {
  color: #b26bff;
}

.footer-right small {
  display: block;
  margin-top: 15px;
  color: #000000;
}

/* RESUME BUTTON */
.resume-btn {
  position: absolute;
  right: 110px;
  bottom: 40px;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
text-decoration: none;
}

.resume-btn:hover {
  color: #b26bff;
}




@media (max-width: 1024px) {
  /* ===== CLEAN GLASS PANEL NAV (NO CIRCLE) ===== */
img {
  max-width: 150%;
  height: auto;
}
  /* Show hamburger */
  .nav-toggle {
    display: inline-block;
    z-index: 5000;
    color: #000000;
  }

  /* Hide desktop links */
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 220px;

    background: rgba(18, 8, 36, 0.95);
    backdrop-filter: blur(12px);
    border-radius: 14px;
    padding: 20px;

    flex-direction: column;
    gap: 20px;

    transition: 0.4s ease;
  }

  /* When active */
  .nav-links.active {
    right: 20px;
  }


  .socials a:hover {
  color: #c18cff;
  transform: translateY(-4px);
}


  .email{
    font-size:20px ;
  }
  .logo{
    font-size: 20px;
  }
 .footer {
  color: black;
  padding: 120px 40px;
  margin-left: 1px;
}
.footer-name{
  font-size: 22px;
}
.timeline-item {
  display: grid;
  grid-template-columns: 220px 90px 40px 450px 1fr ;
  align-items: start;
}
}



/* ===== MOBILE ===== */
@media (max-width: 768px) {

.navbar, .logo,.email{
  font-size: 110%;
}
 


/* ===== ABOUT BOX STYLE – NO HOVER ===== */

.services {
  padding: 120px 60px;
  margin-left:0px ;
}
  .services-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

.services-left h2 {
  font-size: 42px;
  line-height: 1.2;
}

.services-center {
  position: relative;
  display: flex;
  justify-content: center;
}

.services-center img {
  width: 320px;
  z-index: 2;
}

.glow {
  position: absolute;
  width: 160px;
  height: 260px;
  background: radial-gradient(circle, #b26bff, transparent 70%);
  filter: blur(60px);
}

.services-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service-card {
  padding: 10px;
  border-radius: 16px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(193,140,255,0.25);
}



.socials {
  position: fixed;
  left: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.socials a {
  color: #fff;
  font-size: 24px;
  opacity: 0.7;
  transition: 0.3s;
}
/* ===== MOBILE NAV FROM TOP ===== */


.socials a:hover {
  color: #c18cff;
  transform: translateY(-4px);
}

.social-line {
  position: fixed;
 left: 30px;
  margin-bottom: 0px;
  width: 3px;
  height: 40px;
  background: linear-gradient(to bottom, #c18cff, transparent);
}  


.stack-pyramid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}


.row {
  display: flex;
  gap: 20px;
  
}

.row div {
  width: 90px;
  padding: 12px 18px;
  border-radius: 14px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(193,140,255,0.25);
  transition: 0.3s;

  /* 👇 ADD THESE */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row div i {
  font-size: 22px;
  margin-bottom: -20px;
}
.row a {
  text-decoration: none;
  color: inherit;
}

.row div:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 18px rgba(193,140,255,0.5);
}


  .footer-container {
    gap: 4px;
  }
  .footer-right {
    margin-left: 1px;
}
.footer-name{
  font-size:18px ;
}
.footer-info a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
}

.footer-info a:hover {
  text-decoration: none;
  color: #b26bff;
}

.footer-right span {
  color: #b26bff;
}

.footer-right small {
  display: block;
  margin-top: 15px;
  color: #777;
}

/* RESUME BUTTON */
.resume-btn {
  position: absolute;
  right: 110px;
  bottom: 40px;
  color: #777;
  letter-spacing: 3px;
  font-size: 14px;
  cursor: pointer;
}

.resume-btn:hover {
  color: #b26bff;
}

 

}


@media (max-width: 425px) {
.navbar, .logo,.email{
  font-size: 90%;
}


  /* STACK */
  .services {
    padding: 60px 20px;
    margin-left: 0;       /* remove unnecessary margin */
  }
  .services-container {
    display: grid;
    grid-template-columns: 1fr;  /* single column */
    gap: 30px;
  }
  .services-left h2 {
    font-size: 32px;           /* smaller title */
    line-height: 1.2;
    text-align: center;        /* center on mobile */
  }
  .services-center img {
    width: 220px;               /* scale image */
    margin: 0 auto;
  }
  .services-right {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .service-card {
    width: 100%;
    padding: 15px;
  }

  
  /* ================= STACK ================= */
  .stack {
    padding: 40px 1px;
    margin-left: 0;
    text-align: center;
  }

  .stack-pyramid {
    flex-direction: column;
    align-items: center;
    gap: 8px;                 /* slightly smaller gap */
  }

  .row {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;                 /* smaller gap between items */
  }

  .row div {
    width: 120px;
    padding: 8px 12px;
    font-size: 13px;           /* smaller font */
    text-align: center;
    border-radius: 8px;
  }

  /* ================= CAREER / TIMELINE ================= */
  
.footer {
  color: #000000;
  padding: 120px 15px;
  position: relative;
}

.footer-container {
  display: grid;
   grid-template-columns: 1fr;
  align-items: start;
   gap: 30px;
}




/* LEFT */
.footer-name {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.footer-info span {
  color: #000000;
  font-size: 8px;
}

.footer-info p {
  margin: 6px 0 20px;
  font-size: 12px;
}

/* CENTER */
.footer-label {
  color: #000000;
  font-size: 12px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin-top: 2px;
}

.social-links li {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.social-links a {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #b26bff;
}

/* RIGHT */
.footer-right {
    margin-left: 1px;
}

.footer-info a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.footer-info a:hover {
  text-decoration: none;
  color: #b26bff;
}

.footer-right span {
  color: #b26bff;
}

.footer-right small {
  display: block;
  margin-top: 15px;
  color: #777;
}

/* RESUME BUTTON */
.resume-btn {
  position: absolute;
  right: 110px;
  bottom: 40px;
  color: #777;
  letter-spacing: 3px;
  font-size: 14px;
  cursor: pointer;
}

.resume-btn:hover {
  color: #b26bff;
}




}
@media (max-width: 375px) {



 
  /* STACK ITEMS */
  .row div {
    width: 80px;
    padding: 10px 14px;
  }
}
@media (max-width: 320px) {
.navbar, .logo,.email{
  font-size: 90%;
}



  /* STACK */
  .row div {
    min-width: 70px;
    padding: 8px 12px;
  }
}





